@attribute [Route(Routes.Board.Detail)]
@using Io.Schnurr.Circles.Shared.Models;

<PageTitle>Board</PageTitle>

@inject NavigationManager nav;

<MudButton OnClick="@(() => nav.NavigateTo(Routes.Board.Index))">Zurück</MudButton>
<div>ID: @Id</div>

@code{
    [Parameter]
    public int Id { get; set; }
}