@{
    foreach (var navItem in navItems)
    {
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="@navItem.href" Match="@navItem.match">
                <span class="@navItem.classes" aria-hidden="true"></span>@navItem.label
            </NavLink>
        </div>
    }
}

@code {
    internal class NavMenuItem
    {
        internal NavMenuItem(string label, string href, string classes, NavLinkMatch match = default)
        {
            this.label = label;
            this.href = href;
            this.classes = classes;
            this.match = match;
        }

        internal readonly string label;
        internal readonly string href;
        internal readonly string classes;
        internal readonly NavLinkMatch match;
    }

    private NavMenuItem[] navItems = new NavMenuItem[] {
        new NavMenuItem("Board", "", "oi oi-grid-three-up", NavLinkMatch.All),
        new NavMenuItem("Pins", "pins", "oi oi-pin"),
        new NavMenuItem("Circles", "circles", "oi oi-target")
    };
}