@attribute [Route(Routes.Offer.Detail)]
@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<PageTitle>Offer</PageTitle>

<NavigationBar OnNavigateBack="NavigateBack" />

@{
    if (ShowLoadingSpinner)
    {
        <ProgressCircular />
        return;
    }
}

<div>Form</div>