@page "/"
@using Io.Schnurr.Circles.App.Components.Board

<PageTitle>Board</PageTitle>

<MudToolBar Class="d-flex justify-end px-0">
    <MudSwitch T="bool" Checked="IsTileView" CheckedChanged="HandleIsTileViewChanged" ThumbIconColor="Color.Dark" ThumbIcon="@(IsTileView ? Icons.Material.Filled.GridView: Icons.Material.Filled.List)" />
</MudToolBar>

@if (IsTileView)
{
    <h1>ToDo: Render Tiles</h1>
}
else
{
    <BoardTable />
}