@page "/"
@using Io.Schnurr.Circles.App.Components.Board
@inherits Fluxor.Blazor.Web.Components.FluxorComponent
@inject IState<BoardState> BoardState

<PageTitle>Board</PageTitle>

@if (IsLoading())
{
    <ProgressBar/>
    return;
}

<MudToolBar Class="d-flex justify-end px-0">
    <MudSwitch T="bool" Checked="@ShowTileView()" CheckedChanged="OnIsTileViewChanged" ThumbIconColor="Color.Dark" ThumbIcon="@(ShowTileView() ? Icons.Material.Filled.GridView: Icons.Material.Filled.List)" />
</MudToolBar>

@if (ShowTileView())
{
    <h1>ToDo: Render Tiles</h1>
}
else
{
    <BoardTable />
}