@using Io.Schnurr.Circles.App.Features.App.Store;
@inherits LayoutComponentBase
@inject IState<AppState> AppState

<Provider IsDarkMode="AppState.Value.IsDarkMode" />
<MudLayout>
    <AppBar OnToggleDrawer="ToggleDrawerViaAppBar" />
    <Drawer OnToggleDrawer="ToggleDrawerViaDrawer" OnToggleDarkMode="ToggleDarkMode" IsDrawerOpen="AppState.Value.IsDrawerOpen" IsDarkMode="AppState.Value.IsDarkMode" />
    <MudMainContent>
        <MudContainer MaxWidth="MaxWidth.ExtraLarge" Class="py-8">
            <span id="mainContent-mainContainer">
                <ErrorBoundary @ref="ErrorBoundary">
                    <ChildContent>
                        @Body
                    </ChildContent>
                    <ErrorContent>
                        <MudAlert Severity="Severity.Error" Variant="Variant.Filled" ShowCloseIcon="true" CloseIconClicked="(() => RecoverError())">An error has occurred. Please try again.</MudAlert>
                    </ErrorContent>
                </ErrorBoundary>
            </span>
        </MudContainer>
    </MudMainContent>
</MudLayout>