@inherits LayoutComponentBase

<Provider />
<MudLayout>
    <AppBar />
    <Drawer />
    <MudMainContent>
        <MudContainer MaxWidth="MaxWidth.ExtraLarge" Class="py-8">
            <span id="mainContent-mainContainer">
                @Body
            </span>
        </MudContainer>
    </MudMainContent>
</MudLayout>