@typeparam T
@inherits MudTable<T>

<span id="coreTable">
    <MudTable Items="Data" Hover="true" Striped="true" OnRowClick="@(async (TableRowClickEventArgs<T> r) => await OnClick.InvokeAsync(r))">
        <HeaderContent>
            @foreach (var th in TableHeaders)
            {
                <MudTh>@th</MudTh>
            }
        </HeaderContent>
        <RowTemplate>
            @TableRowTemplate(context)
        </RowTemplate>
        <NoRecordsContent>
            <MudText>No records found</MudText>
        </NoRecordsContent>
        <LoadingContent>
            <MudText>Loading...</MudText>
        </LoadingContent>
        <PagerContent>
            <MudTablePager />
        </PagerContent>
    </MudTable>
</span>